
.strips-div{
  width: 50%;
  float: right;
}
.strip-left {
background-color: rgba(200,200,200,0.1);
  height: 15px;
  width: 95%;
}
.strip-right {
  background-color: rgba(200,200,200,0.2);;
    height: 15px;
    width: 95%;
    margin-left: 10px;
    margin-top:-5px;
  }

  .hello-div {
    width: fit-content;
    margin: auto;
    margin-top:50px;
    transform: rotate(-10deg);
  }