.about-me-content {
  margin: auto;
  margin-top: 43vh;
  width: 70%;
  height: 18vh;
}

.hello-div {
  width: fit-content;
  margin: auto;
  margin-top:50px;
  transform: rotate(-10deg);
}

.strips-div{
  width: 50%;
  float: right;
}
.strip-left {
background-color: rgba(200,200,200,0.1);
  height: 15px;
  width: 95%;
}
.strip-right {
  background-color: rgba(200,200,200,0.2);;
    height: 15px;
    width: 95%;
    margin-left: 10px;
    margin-top:-5px;
  }
hr {
  width: 70%;
  border-color: #969696;
}


h1{
  font-family: "Oswald";
}

h2{
  font-family: "Work_Sans";
  padding-top:5vh;
  font-weight: 300;
}

.about-me-card{
  margin-top: 20vh;
  background-color: rgb(240,240,240);
  padding-top: 5vh;
  padding-bottom: 5vh;
  color:#000;

}

.about-me{
  margin: auto;
  width: 50%;
  text-align: justify;
}


.language-change-enter {
  opacity: 0;
}

.language-change-enter.language-change-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.language-change-leave {
  opacity: 1;
}

.language-change-leave.language-change-leave-active {
  opacity: 0;
}