.full-width-transparent {
  width: 100%;
  text-align: center;
}

.width-70-transparent {
  margin: auto;
  width: 70%;
  min-height: 18vh;
}

.white-background-black-text {
  margin-top: 20vh;
  background-color: rgb(240, 240, 240);
  color: #000;
}

.half-width {
  margin: auto;
  width: 50%;
}

.text-justyfy {
  text-align: justify;
}

.padding-top {
  padding-top: 5vh;
}

.margin-top {
  margin-top: 5vh;
}

.padding-bottom {
  padding-bottom: 5vh;
}

.hr-no-margin {
  margin-block: 0px;
  margin: 0px;
}

.hr-70 {
  width: 70%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-div {
  width: 85%;
  margin: auto;
}

.right-border-white {
  border-right: solid 1px #969696;
  height: 100%;
}

.text-align-left {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }

  .half-width {
    width: 90%;
  }

  .grid-div {
    width: 90%;
  }

  .grid-container {
    display: inline;
  }

  .right-border-white {
    border-right: none;
  }
}
