.app-bar-style{
  background-color:black;
}

.switch-container {
  display: flex;
  margin-left: 20px;
}

.language-container {
  flex: 1;
  margin-top: 20px;
}

.language-label {
    margin-top: 3px;
  margin-bottom:10px;
}

.language-label-active{
    color:lightgray;
}

.language-label-inactive{
    color: rgba(100,100,100,0.6);
}

.icon-div{
  width: 60px;
  height: 60px;
  margin-right: 2vw;
  background-size: cover;
  float: right;
}

a{
  margin: auto;
}
