.App-container {
  background-color: #000000;
  color: white;
  overflow: hidden;
}

hr {
  border-color: #969696;
}

h1 {
  font-family: "Oswald";
  font-size: 3rem;
}

h2 {
  font-family: "Oswald";
  font-size: 2.5rem;
}

h3 {
  font-family: "Work_Sans";
  font-size: 1.5rem;
  font-weight: 300;
}

a {
  color: #fff;
}

a:visited {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: "Oswald";
    font-size: 2.5rem;
  }

  h2 {
    font-family: "Oswald";
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 200;
  }
}
