body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Oswald', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Work_Sans';
  src: local('Work_Sans'), url(./fonts/Work_Sans/static/WorkSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url(./fonts/Oswald/static/Oswald-Bold.ttf) format('truetype');
}